.topMenu{
    padding: 10px;
    height: 80px
}
.topMenu_rightText {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
      flex: 1 1 auto;
      text-align:right 
    }

.topMenuLogo{width: 100px}

.mat-select{max-width: 120px}
:host >>> .mat-select-placeholder, 
:host >>> .mat-select-value,
:host >>> .mat-select-arrow
 {color:white;font-weight: 300;font-size:1em}

:host >>> .drawerShadow{box-shadow: 0 0 10px 1px rgba(0,0,0,.2)!important;background: transparent}