
    
<mat-card >
  <mat-card-title>Welcome <strong style="color:cornflowerblue">{{pass.linkData}}</strong></mat-card-title>
          
  <img mat-card-image src="../assets/images/logo.svg" style="width:98px;margin:0 auto">
       
  <mat-card-title-group >
               <mat-card-subtitle> This area will be populated with member details
                  <br>
                   will be having an action to edit/update the member details</mat-card-subtitle>
           </mat-card-title-group>
          <mat-card-content>
          </mat-card-content>
 </mat-card>