/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";

body{padding: 0;margin:0;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;}

    .contentHeading {padding: 10px; background: #3f51b5;
    }
    .contentHeading h1{ font-size:1.25em;font-weight: 300; color:white}
    